// Colours

$clr-text: #12131B;
$clr-navy: #161D5B;
$clr-navy-2: #1D2577;
$clr-gradient-dark: #1092DF;
$clr-turquoise: #1BFBE8;
$clr-turquoise-dark: #15d6c6;
$clr-gradient-light: #9AFFE5;
$clr-faded-turquoise: #f0FAF9;
$clr-white: #ffffff;

// Fonts

$ff-main: 'sofia-pro-soft', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;