<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <h1 class="align-center"><%= htmlWebpackPlugin.options.title %></h1>
        <h2 class="align-center">This is a H2</h2>
        <h3 class="align-center">This is a H3</h3>
    </header>

    <div class="hero">
        <img src="images/home-bg.jpg" alt="Painting">
    </div>

    <div class="container">
        <p>Test text</p>
        <p class="card-text">Test text</p>
    </div>

    <div class="container--small">
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>
        <ol>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ol>
    </div>

    <button>Click me</button><br>
    <button class="btn">btn class</button><br>

    <a href="#">Test link</a>
</body>
</html>